body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h3 {
  background-color:whitesmoke;
}

th1 {
  background-color: red;
  font-weight: bolder;
}


th2 {
  background-color: orange;
  font-weight: bolder;
}

th3 {
  background-color: yellow;
  font-weight: bolder;
}
th4 {
  background-color: green;
  font-weight: bolder;
}


td1 {
  background-color: red;
  font-weight: bolder;
}

td2 {
  background-color: orange;
  font-weight: bolder;
}

td3 {
  background-color: yellow;
  font-weight: bolder;
}